.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-size: 3rem;
  font-family: 'Indie Flower', cursive;

}
.sm-width{
  display: none;
}

@media only screen and (max-width: 980px) {
  button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .container{
    display: none;
  }
  .sm-width{
    display: block;
    text-align: center;
  }
  button{
    width: 90%;
    font-size: 9rem;
    padding: 5%;
    background-color:#232931 ;
    font-family: 'Lobster', cursive;
    color: #4ECCA3;
    border-style:solid;
    border-width: 0.3rem;
  }
  button:hover{
    color:#232931 ;
    background-color: #4ECCA3;
  }
  footer{
    font-size: 4rem;
    position: fixed ;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:#232931 ;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
